/* 
* {
	box-sizing: border-box;
}
.sleft{
	position: absolute;
	width:50%;
	margin-left: 0%;
	}
	
	.sright{
		
		width:50%;
		margin-left: 50%;
		margin-top: 50px;
		margin-right: 10%;
	}

/* img {
	max-width: 100%;
	filter: drop-shadow(1px 1px 3px #a6a6a6);
}
/* ----- Product Section ----- */

/* */