/* .order-area {
    margin-top: "100px";
}

.order-total {
    margin-top: "10px";
    background: "#053742";
    color: "white";
    font-weight: "bold"
}

.order-card,
.order-total {
    margin: "0 0 10px 20%";
    border: "1px solid black";
    width: "60%";
    padding: "10px"
} */