.about{
    background-image: url('https://wallpapercave.com/wp/wp2445788.jpg');
    position: initial; 
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    margin-top:0px;
    height:100%;
  
  }

  .fleft{
    border: 2px solid #d3d3d3;
    border-radius: .5em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding: 1em;
    text-align: left;
    width: 70%;
    background-color: black;
    opacity: 0.6;
    color:#fff;
  }

  .fright{
    border: 2px solid #d3d3d3;
    border-radius: .5em;
    /* margin-bottom: 1em; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding: 1em;
    text-align: left;
    width: 70%;
    background-color: black;
    opacity: 0.8;
    color:#fff;
  }